<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Order Management</title>
</head>

<body>

    <h1>DevOps Order Management</h1>

    <p>Welcome to our Order Management Application 🚀</p>

    <h2>System Status</h2>
    <p>🟢 Application is Healthy</p>

    <h2>Menu</h2>
<a href="/products">
    <button>View Products</button>
</a>

<a href="/orders">
    <button>View Orders</button>
</a>

</body>
</html>